*{
    margin: 0;
    padding: 0;
}
.loader {
    
    /* border: 16px solid #230569;
    border-radius: 80; */
    display: inline;
    width: 220px;
    height: 120px;
}

.loader img {
    height: 120px;
    

    width: 250px;
    position:relative;
    float: left;
    margin: 0;
    padding: 0;
}
header{
    background-color: #023047;
    height: 120px;
    overflow: hidden;
    /* justify-content:center ; */
    
}

nav a{
    color: white;
    font-size:x-large;
    display: inline;
    text-decoration: none;
    padding-right: 30px;
    padding-left: 10px;
    float: left;

    
}
.nav{
    text-align:left;
    /* justify-content: center; */
    padding: 50px;
    display: inline;
}
nav a:hover{
    color:blue;
}
.example{
    display: inline;
    padding-left: 200px;
}
.example input[type=text] {
    padding: 5px;
    font-size: 17px;
    border: 1px solid rgb(6, 6, 6);
    /* float: left; */
    width: 250px;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  .example button {
    /* float: left;*/
    display: inline;
    height: 30px;;
    width: 60px;
    /* padding: 10px; */
    background: #063550;
    color: white;
    font-size: 17px;
    border: 1px solid rgb(234, 233, 233);
    /* border-left: none; Prevent double borders */
    cursor: pointer;
  }
  body, html {
    height: 100%;
  }

  main{
  
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0.5, 0.5)), url("back.jpg");
    height: 100%;
    color: #f1f1f1;
    filter: blur(1px); 
    /* -webkit-filter: blur(2px);  */
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
footer
{
   color: rgb(255, 255, 255);
    background-color: #023047;
    text-decoration: underline;
}
footer ul li a{
    text-decoration: none;
  
    color: aliceblue;
}
footer ul li a:hover{
    color: blue;
}
footer ul{
    float: left;
     list-style: none;
}.copyright{
    color: rgb(151, 188, 40);
    font-weight: bold;
text-align: center;
text-decoration: none;
}
.container_1{
    margin: 0;
    padding: 0;
    opacity: 100%;
}
 /* #radio{
    padding-left: 100px; */

.form{
    color: rgb(255, 255, 255);
    padding-left: 600px;
    padding-top: 300px;
    border: 2px brown;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container-1{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;