*{
    margin: 0;
    padding: 0;
}
.loader {
    
    /* border: 16px solid #230569;
    border-radius: 80; */
    display: inline;
    width: 220px;
    height: 120px;
}

.loader img {
    height: 120px;
    

    width: 250px;
    position:relative;
    float: left;
    margin: 0;
    padding: 0;
}
header{
    background-color: #023047;
    height: 120px;
    overflow: hidden;
    /* justify-content:center ; */
    
}

nav a{
    color: white;
    font-size:x-large;
    display: inline;
    text-decoration: none;
    padding-right: 30px;
    padding-left: 10px;
    float: left;

    
}
.nav{
    text-align:left;
    /* justify-content: center; */
    padding: 50px;
    display: inline;
}
nav a:hover{
    color:blue;
}
.example{
    display: inline;
    padding-left: 200px;
}
.example input[type=text] {
    padding: 5px;
    font-size: 17px;
    border: 1px solid rgb(6, 6, 6);
    /* float: left; */
    width: 250px;
    background: #f1f1f1;
    border-radius: 5px;
  }
  
  /* Style the submit button */
  .example button {
    /* float: left;*/
    display: inline;
    height: 30px;;
    width: 60px;
    border-radius: 5px;
    /* padding: 10px; */
    background: #063550;
    color: white;
    font-size: 17px;
    border: 1px solid rgb(234, 233, 233);
    /* border-left: none; Prevent double borders */
    cursor: pointer;
  }
  body, html {
    height: 100%;
  }

  main{
  
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0.5, 0.5)), url("back.jpg");
    height: 100%;


    filter: blur(3px);
    -webkit-filter: blur(2px);
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
footer
{
   color: rgb(255, 255, 255);
    background-color: #023047;
    text-decoration: underline;
}
footer ul li a{
    text-decoration: none;
  
    color: aliceblue;
}
footer ul li a:hover{
    color: blue;
}
footer ul{
    float: left;
     list-style: none;
}.copyright{
    color: rgb(151, 188, 40);
    font-weight: bold;
text-align: center;
text-decoration: none;
}
